<form class="CreateForm">
  <h2 class="CreateForm-title">Create chat room</h2>
  <div class="CreateForm-formControl">
    <input type="text" name="name" class="InputControl CreateForm-input" placeholder="Chat name">
  </div>
  <div class="CreateForm-formControl">
    <input type="text" name="lat" class="InputControl Create-input" placeholder="Latitude">
  </div>
  <div class="CreateForm-formControl">
    <input type="text" name="lan" class="InputControl Create-input" placeholder="Langtitude">
  </div>
    <div class="CreateForm-formControl">
      <button class="Btn Btn--submit CreateForm-pickCoordBtn">Pick the place</button>
      <button class="Btn Btn--submit CreateForm-submitBtn">Create</button>
    </div>
</form>
