<div class="Chat">
  <div>
    <div class="Chat-header">
      <div class="Chat-name">Chat name</div>
      <div class="Chat-onlineStatus">10 users online</div>
    </div>

    <div class="Chat-chatbox">
      <div class="Chat-message">
        <app-message></app-message>
      </div>
    </div>

    <div class="Chat-control">
      <textarea class="Chat-msgInput" placeholder="please write text"></textarea>
      <button class="Chat-sendBtn"> <img src="null"/></button>
    </div>
  </div>
</div>
